@media only screen and (max-width: 360px) {
	.heading1.text-center { padding: 50px 0px 5px 0px; }
	.heading1 h1, .textrotate { font-size: 24px; }
	.attire-our-b-content1 { position: absolute; top: 355px; }
	.attire-our-b { display: block; padding: 40px 0; height: 515px; }
	.brand-image { width: 85%; }
	.attire-b-content { right: -192px; top: -25px; }
	.attire-our-b-content { position: unset; padding-right: 0; padding-top: 20px; }
	.attire-our-b .col-sm-12.col-md-6.col-lg-6 { padding: 0; }
	hr.hrheight { right: 100px; width: 65px;}
	span.cercle { top: 16px; left: -133px; }
	.textrotate { font-size: 32px; }
	.our-attire { font-size: 18px; }
	.attire-our-b-content1 { padding: 0; }
	.attire-b-content1 { left: -168px; top: -7px; }
	.container { clear: both; }
	.brand-image1 { width: 85%; float: none; right: -44px; }
	hr.hrheight1 { right: 90px;width: 65px; }
	.attire-b-content1 {     left: -170px; top: -23px; }
	.attire-testimonails h1 { font-size: 24px; }
	.carousel .carousel-indicators { bottom: -40px; }
	#our-attire { text-align: -webkit-right; }
	.attire-menu ul { display: block; }
	.attire-menu { height: 100vh; transition: all 0.5s; background: #fff; position: absolute; left: -100%; }
	.nav-menuss { padding: 10px 10px; text-align: center; }
	.container.attire-strip { padding: 0; }
	.attire-stiky-image {
		background-image: url(../images/360px.jpg);
		height: 485px;
	}
	.bar { display: none; }


}

@media only screen and (max-width: 576px) {
	.heading1.text-center { padding: 50px 0px 5px 0px; }
	.heading1 h1, .textrotate { font-size: 33px; }
	.attire-our-b { display: block; padding: 40px 0; height: 750px; }
	.brand-image { width: 85%; }
	.attire-b-content { right: -165px; top: 200px; }
	.attire-our-b-content { position: unset; padding-right: 0; padding-top: 20px; }
	.attire-our-b .col-sm-12.col-md-6.col-lg-6 { padding: 0; }
	hr.hrheight { right: 100px; width: 65px; top: -38px;}
	span.cercle { top: 16px; left: -133px; }
	.textrotate { font-size: 50px; }
	.our-attire { font-size: 20px; }
	#our-attire { text-align: -webkit-right; }
	.attire-our-b-content1 { padding: 0; position: absolute; top: 590px; }
	/*.attire-b-content1 { left: -168px; top: -7px; }*/
	.container { clear: both; }
	.brand-image1 { width: 85%; float: none; right: -77px; }
	hr.hrheight1 { right: 90px;width: 65px; top: -60px;}
	.attire-b-content1 { left: -170px; top: 210px; }
	.attire-testimonails h1 { font-size: 33px; }
	.attire-menu ul { display: block; }
	.attire-menu { height: 100vh; background: #fff; transition: all 0.5s; position: absolute; left: -100%; }
	.nav-menuss { padding: 10px 10px; text-align: center; }
	.container.attire-strip { padding: 0; }
	.attire-stiky-image {
		background-image: url(../images/360px.jpg);
		height: 485px;
	}
	.bar { display: none; }
	.attire-menu.active { left: 0%; }

}

@media only screen and (max-width: 768px) {
	.heading1.text-center { padding: 50px 0px 5px 0px; }
	.heading1 h1, .textrotate { font-size: 33px; }
	.attire-our-b { display: block; padding: 40px 0; height: 850px; }
	.brand-image { width: 85%; }
	.attire-b-content { right: -165px; top: 200px; }
	.attire-our-b-content { position: unset; padding-right: 0; padding-top: 20px; }
	.attire-our-b .col-sm-12.col-md-6.col-lg-6 { padding: 0; }
	hr.hrheight { right: 100px; width: 65px; top: -38px;}
	span.cercle { top: 16px; left: -133px; }
	.textrotate { font-size: 50px; }
	.our-attire { font-size: 20px; text-align: unset; }
	#our-attire { text-align: -webkit-right; }
	.attire-our-b-content1 { padding: 0; position: absolute; top: 725px; }
	/*.attire-b-content1 { left: -168px; top: -7px; }*/
	.container { clear: both; }
	.brand-image1 { width: 85%; float: none; right: -109px; }
	hr.hrheight1 { right: 90px;width: 65px; top: -60px;}
	.attire-b-content1 { left: -170px; top: 210px; }
	.attire-testimonails h1 { font-size: 33px; }
	.attire-menu ul { display: block; }
	.attire-menu { height: 100vh; transition: all 0.5s; background: #fff; position: absolute; left: -100%; }
	.nav-menuss { padding: 10px 10px; text-align: center; }
	.container.attire-strip { padding: 0; }
	.attire-stiky-image {
		background-image: url(../images/360px.jpg);
		height: 485px;
	}
	.bar { display: block; padding: 0 20px; float: right; cursor: pointer; }
	.logo {
	    display: block;
	    width: 100px;
	    float: left;
	    padding-top: 12px;
	    padding-left: 15px;
	}
	.attire-menu.active { left: 0%; }
	.attire-fc {
	    padding: 80px 11%;
	}
}

@media only screen and (min-width: 751px) and (max-width: 767px) {
	.attire-our-b-content1 { top: 740px; }
	.attire-our-b { height: 900px; }
}


@media only screen and (min-width: 541px) and (max-width: 565px) {
	.attire-b-content { top: 180px; }
	.attire-b-content1 { top: 180px; }
	.attire-our-b { height:  715px; }
	.attire-our-b-content1 { top: 577px; }
}
@media only screen and (min-width: 530px) and (max-width: 540px) {
	.attire-b-content { top: 170px; }
	.attire-b-content1 { top: 170px; }
	.attire-our-b { height:  715px; }
	.attire-our-b-content1 { top: 550px; }
	.brand-image1 { right: -70px; }
}

@media only screen and (min-width: 520px) and (max-width: 529px) {
	.attire-b-content { top: 155px; }
	.attire-b-content1 { top: 155px; }
	.attire-our-b { height:  715px; }
	.attire-our-b-content1 { top: 540px; }
	.brand-image1 { right: -70px; }
}
@media only screen and (min-width: 510px) and (max-width: 519px) {
	.attire-b-content { top: 140px; }
	.attire-b-content1 { top: 140px; }
	.attire-our-b { height:  715px; }
	.attire-our-b-content1 { top: 520px; }
	.brand-image1 { right: -67px; }
}

@media only screen and (min-width: 491px) and (max-width: 509px) {
	.attire-b-content { top: 120px; }
	.attire-b-content1 { top: 120px; }
	.attire-our-b { height:  715px; }
	.attire-our-b-content1 { top: 500px; }
	.brand-image1 { right: -65px; }
}
@media only screen and (min-width: 470px) and (max-width: 490px) {
	.attire-b-content { top: 100px; right: -170px; }
	.attire-b-content1 { top: 100px;left: -175px;}
	.attire-our-b { height:  655px; }
	.attire-our-b-content1 { top: 480px; }
	.brand-image1 { right: -61px; }
	hr.hrheight1 { top: -50px; }
}
@media only screen and (min-width: 460px) and (max-width: 469px) {
	.attire-b-content { top: 90px; right: -175px; }
	.attire-b-content1 { top: 90px; left: -170px; }
	.attire-our-b { height:  655px; }
	.attire-our-b-content1 { top: 470px; }
	.brand-image1 { right: -61px; }
	.textrotate { font-size: 40px; }
	hr.hrheight1 { top: -50px; }
}
@media only screen and (min-width: 440px) and (max-width: 459px) {
	.attire-b-content { top: 70px; right: -178px; }
	.attire-b-content1 { top: 70px; left: -173px; }
	.attire-our-b { height:  635px; }
	.attire-our-b-content1 { top: 450px; }
	.brand-image1 { right: -57px; }
	.textrotate { font-size: 40px; }
	hr.hrheight1 { top: -50px; }
}
@media only screen and (min-width: 420px) and (max-width: 439px) {
	.attire-b-content { top: 45px; right: -178px; }
	.attire-b-content1 { top: 45px; left: -173px; }
	.attire-our-b { height:  615px; }
	.attire-our-b-content1 { top: 430px; }
	.brand-image1 { right: -55px; }
	.textrotate { font-size: 40px; }
	hr.hrheight1 { top: -50px; }
}
@media only screen and (min-width: 400px) and (max-width: 419px) {
	.attire-b-content { top: 20px; right: -178px; }
	.attire-b-content1 { top: 20px; left: -173px; }
	.attire-our-b { height:  595px; }
	.attire-our-b-content1 { top: 400px; }
	.brand-image1 { right: -52px; }
	.textrotate { font-size: 40px; }
	hr.hrheight1 { top: -50px; }
}
@media only screen and (min-width: 380px) and (max-width: 399px) {
	.attire-b-content { top: 0px; right: -178px; }
	.attire-b-content1 { top: 0px; left: -173px; }
	.attire-our-b { height:  572px; }
	.attire-our-b-content1 { top: 380px; }
	.brand-image1 { right: -49px; }
	.textrotate { font-size: 38px; }
	hr.hrheight1 { top: -50px; }
}
@media only screen and (min-width: 361px) and (max-width: 379px) {
	.attire-b-content { top: -22px; right: -190px; }
	.attire-b-content1 { top: -22px; left: -173px; }
	.attire-our-b { height:  550px; }
	.attire-our-b-content1 { top: 360px; }
	.brand-image1 { right: -49px; }
	.textrotate { font-size: 32px; }
	hr.hrheight1 { top: -42px; }
}
@media only screen and (min-width: 340px) and (max-width: 360px) {
	.attire-b-content { top: -22px; right: -190px; }
	.attire-b-content1 { top: -22px; left: -173px; }
	.attire-our-b { height:  550px; }
	.attire-our-b-content1 { top: 360px; }
	.brand-image1 { right: -49px; }
	.textrotate { font-size: 32px; }
	hr.hrheight1 { top: -42px; }
	p.text-center { font-size: 21px; }
	.carousel {  padding: 0px 45px; }
}

@media only screen and (max-width: 1199px) {
	.attire-menu ul { display: block; padding-top: 50px; }
	.attire-menu { height: 100vh; transition: all 0.5s; background: #fff; position: absolute; left: -100%; top: 0; }
	.nav-menuss { padding: 10px 10px; text-align: center; }
	.container.attire-strip { padding: 0; }
	.attire-stiky-image {
		background-image: url(../images/360px.jpg);
		height: 485px;
	}
	.logocontainer {
        width: 26%;
        height: 100%;
        margin: 0 auto;
    }
	.bar { display: block; padding: 0 20px; float: right; cursor: pointer;	    position: absolute;	right: 0; top: 0; }
	.logo {
	    display: block;
	    width: 100px;
	    float: left;
	    padding-top: 6px;
	    padding-left: 0px;
	}
	.attire-menu.active { left: 0%; top: 0; }
	.nav-menuss li ul { position: inherit; box-shadow: none; height: 100%; }
	.nav-menus { padding: 10px 10px; }
}